.App {
  text-align: left;
}

ul {
    list-style-type: none;
}

button.userActive {
    background-color: white;
    color: black;
    border: 2px solid #00FF00; /* Green */
}

button.userDisabled {
    background-color: white;
    color: black;
    border: 2px solid #FF0000; /* Green */
}
