.App {
  text-align: left;
}

ul {
  list-style-type: none;
}

button.userActive {
  background-color: white;
  border: 2px solid #0f0; /* Green */
  color: black;
}

button.userDisabled {
  background-color: white;
  border: 2px solid #f00; /* Red */
  color: black;
}
